.curriculum-container{
  position:relative;
  display:block;
  width:100%auto;
  height:100%
}

.curriculum-selector {
  width:250px;
  border-radius:5px;
  border:solid 1px #cccccc;
  color:#666666;
  position:absolute;
  top:250px;
  right:-100%;
  padding:15px;
  box-sizing: border-box;
  background-color:#fff;
  transition:all 0.3s ease-in-out;

  label {
    display:block;
    width:100%;
    text-align: center;
    font-weight:500;
  }

  select {
    width:100%;
    height:35px;
    line-height: 35px;
    padding:0 7px;
    box-sizing: border-box;
    margin:15px 0;
    border-color:#000;
    border-radius:3px;
    color:#000;
    background-color:#fff;
    font-family: $mainFont;
    font-size:16px;
  }

  &.select-degree{
    right: calc(50% - (250px - 10%));
  }

  &.completed{
    right:calc(100% - 250px);
    top:0;

    &.select-program{
      right:calc(100% - 510px);
    }

    &.select-start{
      right:calc(100% - 770px);
    }
  }

  &.active{
    right: calc(50% - (250px - 10%));
  }
}

.result-curriculum{
  position:absolute;
  top:250px;
  right:-100%;
  transition:all 0.3s ease-in-out;
  width:800px;

  &.active {
    right: calc(50% - 400px);
  }
}

.result-curriculum ul li{
  width:100%;
  padding:15px 10px;
  box-sizing:border-box;
  border-bottom:solid 1px #cccccc;
  display:block;

  &:last-child{
    border-bottom:none;
  }

  &:nth-child(even){
    background-color:#eaeaea;
  }
}
