#login-page{
  background-color:#eaeaea;
  background-image:url("../images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
  position:absolute;
  z-index:5000;
  top:0;
  left:0;
}
#login-container{
  background-color:rgba(0,0,0,0.15);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:500px;
  height:300px;
  padding: 20px;
  box-sizing: border-box;
  border: solid 1px #fff;
  border-radius: 10px;

  .login-form-row{
    line-height:80px;
    position:relative;
  }

  .login-label{
    position:absolute;
    top:32px;
    left:15px;
    color:#fff;
    font-size:16px;
  }

  input[type=text], input[type=password]{
    width:100%;
    height:50px;
    border-radius:5px;
    box-sizing: border-box;
    line-height: 50px;
    padding:0 10px 0 40px;
    background-color:transparent;
    border:solid 1px #fff;
    color:#fff;
    font-size:16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
  .login-btn-container{
    width:100%;
    text-align:center;
    margin-top:25px;
  }
  .btn-login{
    padding:10px 35px;
    background-color:$primaryColor;
    color:#fff;
    border-radius:5px;
    border:solid 1px #0A5B87;
    font-size:16px;
    font-weight:400;

    &:hover{
      box-shadow:inset 0px 0px 25px #0A5B87;
    }
  }
}
