@import '../node_modules/font-awesome/scss/font-awesome';
@import 'styles';
@import 'login';
@import 'helpers';
@import 'classroom';
@import 'curriculum';
@import 'faculty';
@import 'myschedule';
@import 'schedule_wizard';
@import 'campus';
@import 'building';
@import 'course';
